<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class = "Book" id = "book" >
        <constructor-arg index = "0" value = "1" />
        <constructor-arg index = "1" value = "SANGUO" />
        <constructor-arg index = "2" value = "30" />
    </bean>
    <bean class = "Book" id = "book2" >
        <constructor-arg name = "id" value = "2" />
        <constructor-arg name = "name" value = "Hongloumeng" />
        <constructor-arg name = "price" value = "40" />
    </bean>
    <bean class = "Book" id = "book3" >
        <property name="id" value="3" />
        <property name="name" value="Shuihuzhuan" />
        <property name="price" value="30" />
    </bean>
    <bean class = "Book" id = "book4" p:id="4" p:name="Xiyouji" p:price="33"></bean>
    <bean class = "OkHttpUtils" factory-method="getInstance" id = "okHttpClient"></bean>
<!--    <bean class=" OkHttpUtils" id="okHttpUtils"/>-->
<!--    <bean class="okhttp3.OkHttpClient" factory-bean="okHttpUtils" factory-method="getInstance" id="okHttpClient"></bean>-->
    <bean class="User" id = "user">
        <property name="cat" ref="cat1" />
        <property name="favorites">
            <array>
                <value>Football</value>
                <value>BasketBall</value>
                <value>PingPong</value>
            </array>
        </property>
        <property name="cats">
            <list>
                <ref bean="cat1" />
                <ref bean="cat2" />
                <bean class="Cat" id="cat3">
                    <property name="name" value ="Xiaohua" />
                    <property name="color" value="Huase" />
                </bean>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="age" value="99" />
                <entry key="name" value="springtest"/>
            </map>
        </property>
        <property name="info">
            <props>
                <prop key="age">99</prop>
                <prop key="name">sprinttest</prop>
            </props>
        </property>
    </bean>
    <bean class="Cat" id="cat1">
        <property name="name" value="LittleWhite" />
        <property name="color" value="White" />
    </bean>
    <bean class="Cat" id="cat2">
        <property name="name" value="LittleBlack" />
        <property name="color" value="Black" />
    </bean>
</beans>

